<h1>EventAttendees#edit</h1>
<p>Find me in app/views/event_attendees/edit.html.erb</p>
<%= form_for @attendee, :url => event_attendee_path(@event, @attendee), :html => { :method => :patch } do |f| %>
   <%= f.text_field :name %>
   <%= f.submit %>
<% end %>
