<h1>EventAttendees#new</h1>
<p>Find me in app/views/event_attendees/new.html.erb</p>
<%= form_for @attendee, :url => event_attendees_path(@event) do |f| %>
   <%= f.label :name, "Name:" %>
   <%= f.text_field :name %>
   <%= f.submit %>
<% end %>
